.box {
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 999999999999;
  background: -webkit-linear-gradient(to right, #000000, #1d1d1d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #1d1d1d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.editWidgetWrapper {
  /* flex: 0 1 auto; */
}

.ewd-editPanel {
  border-bottom: 4px solid gray;
  background-color: #2B2B2B;
}
.ewd-editPanel {
  /* flex: 0 1 auto; */
}
.ewd-view {
  display: flex;
  flex-flow: column;
}
.ewd-view div.text-center {
  flex: 1 1 auto;
}

.box header {
  flex: 0 1 auto;
}

.box section {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}
