.pg-body {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: stretch;
}

.pg-sb-header {
  flex: 0 1 auto;
}

.pg-qry {
  display: flex;
  flex-direction: column;
}
.pg-qry-builder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pg-rest {
  flex: 1 1 auto;
}
